// font-family
$NotoSans: 'Noto Sans KR', sans-serif;
$NotoSerif: 'Noto Serif KR', serif;
$Roboto: 'Roboto', sans-serif;

// font-size
// base
$font15: 15px;

// dropdown
$font14: 14px;

// mainbanner, gnb
$font24: 24px;
$font17: 17px;

// title, sub title
$font12: 12px;
$font30: 30px;
$font34: 34px;
$font42: 42px;

// items
$font19: 19px;
$font17: 17px;

// btn
$font18: 18px;
$font10: 10px;

// content title, content
$font23: 23px;
$font16: 16px;
$font15: 15px;

// footer
$font20: 20px;
$font13: 13px;
$font12: 12px;

// color
$BasicColor: #333333;
$SubColor: #888888;
$ItemColor: #555555;

// background
$MainBannerBg: #f9f1e9;
$SectionBg01: #ffffff;
$SectionBg02: #f5f2ef;
$SectionBg04: #f6f8fb;
$TitleAfterBg: #aaa;
$FooterBg: #f9f9f9;
$FooterTop: #fafafa;
$FooterBorder: #f0f0f0;
$DropdownColorBlack: #1a1a1a;
$DropdownColorWhite: #ffffff;
$BorderColor: #eeeeee;
$InputBg: #f8f8f8;

// hover
$DropdownColorBlackHover: #000000;
$DropdownColorWhiteHover: #f5f5f5;
